html {
  background-color: black;
}

h1{
  color: blue;
  text-align: center;
}

h2{
color: blue;
text-align: center;
}

.sidebar{
  width: 130px;
  float: center;
  background-color: blue;
  text-align: center;
  padding: 30px;
  color: white;
  border: 10px solid white;
  -moz-box-align: center;
}

img{
  border: 10px solid white;
  padding: 20px;
  background-color: blue;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}